/* Card.css */
.card {
    width: 200px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    padding: 16px;
    border-radius: 8px;
    color: white;
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;    
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
 
.card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
    padding: 20px;
  }
  

  .card-content {
    background: rgba(0, 0, 0, 0.5); 
    padding: 8px;
    border-radius: 4px;
    width: 100%;
  }
  
  .card-title {
    font-size: 18px;
    margin: 0 0 8px;
  }
  
  .card-description {
    font-size: 14px;
    margin: 0;
  }
  